<html lang="en">

<%- include header %>

<div class="jumbotron">
	<h1>Личный кабинет</h1>
	<p>
		<a class="btn btn-lg btn-primary" href="/home/profile" title="">Просмотр профиля >></a>
		<a class="btn btn-lg btn-primary" href="/home/tasks" title="">Задачи >></a>
	</p>
</div>

<%- include footer %>